{{#if requestSent}}
  <h1>Email Sent</h1>
  <p>Check your {{email}} inbox for instructions from us on how to reset your password</p>
{{else}}
  <h1>Password Reset</h1>
  {{#if errors}}
    <div class="alert alert-danger">
      {{#if errors.email}}
        {{errors.email.firstObject}}
      {{else}}
        An error occured while trying to reset your password. Please check your internet connection and try again
      {{/if}}
    </div>
  {{/if}}
  <form {{action 'resetPassword' email on="submit"}}>
    <p>To reset your password, enter the email address you use to sign in.</p>
    {{bootstrap-input
        required=true
        label="Email"
        placeholder="you@example.com"
        value=email}}
    <div class="save-cancel-buttons">
      {{#link-to "login"}}Back to login{{/link-to}}
      <button type="submit" class='btn btn-success' disabled={{_isSending}}>Reset</button>
    </div>
  </form>
{{/if}}
