<div class="loginWrapper">
  <div id="edit-user">
    <h2>Edit User</h2>
    <form {{action "save" model on="submit"}}>
      <div class="form-group">
        <label for="email">Email</label>
        {{input id="email" type="text" placeholder="Email" value=model.email}}
        {{#if model.errors.email}}
          <div class="error">
          {{#each model.errors.email as |error|}}
              <div class="bg-danger field-error-message">{{error.message}}</div>
          {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        {{input id="password" type="password" placeholder="Password" value=model.password}}
        {{#if model.errors.password}}
          <div class="error">
          {{#each model.errors.password as |error|}}
              <div class="bg-danger field-error-message">{{error.message}}</div>
          {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="password_confirmation">Password Confirmation</label>
        {{input id="password_confirmation" type="password" placeholder="Password Confirmation" value=model.passwordConfirmation}}
        {{#if model.errors.passwordConfirmation}}
          <div class="error">
          {{#each model.errors.passwordConfirmation as |errro|}}
              <div class="bg-danger field-error-message">{{error.message}}</div>
          {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        {{input id="currentPassword" type="password" placeholder="Current Password" value=model.currentPassword}}
        {{#if model.errors.currentPassword}}
          <div class="error">
          {{#each model.errors.currentPassword as |error|}}
              <div class="bg-danger field-error-message">{{error.message}}</div>
          {{/each}}
          </div>
        {{/if}}
      </div>
      <button class="submit button" type="submit">Save</button>
      <button class="cancel" {{action 'cancel' model}}>Cancel</button>
    </form>
  </div>
</div>