<div id="login">
  <h2>Log In</h2>
  <div class="networks">
    {{#each network in networks}}
      <button {{bind-attr class="network.image"}} {{action 'signInProvider' network.providerName}} />
    {{/each}}
  </div>
  <form {{action "logIn" model on="submit"}}>
    {{input type="text" name="username" placeholder="Username" value=username}}
    {{input type="password" name="password" placeholder="Password" value=password}}
    <div class="help">
      {{#link-to 'forgot-password' class="forgot-password"}}Forget Password?{{/link-to}}
      {{#link-to 'sign-up' class="signup"}}Sign Up{{/link-to}}
    </div><!--
 -->{{#if isProcessing}}<button type="submit" disabled=true>Loading...</button>{{else}}<button type="submit">Log In</button>{{/if}}
    {{#if error}}
      <div class="error">
        <span>{{error}}</span>
      </div>
    {{/if}}
  </form>
</div>
