{{partial "front-header"}}
<div id="login">
  <h2>Log In</h2>
  <div class="networks">
    {{#each network in networks}}
      <button {{bind-attr class="network.image"}} {{action 'signInProvider' network.providerName}} />
    {{/each}}
  </div>
  <div class="form">
    {{input type="text" name="username" placeholder="Username" value=username}}
    {{input type="password" name="password" placeholder="Password" value=password}}
    <div class="help">
      {{#link-to 'password-reset' class="password-reset"}}Forget Password?{{/link-to}}
      {{#link-to 'sign-up' class="signup"}}Sign Up{{/link-to}}
    </div><!--
 -->{{#if isProcessing}}<button class="submit button" disabled=true>Loading...</button>{{else}}<button class="submit button" {{action 'logIn'}}>Log In</button>{{/if}}
  </div>
  {{#if error}}
    <div class="error">
      <span>{{error}}</span>
    </div>
  {{/if}}
</div>
