<div id="signup">
  <h2>Create Account</h2>
  <div class="networks">
    {{#each network}}
      <button {{bind-attr class="network.image"}} {{action 'signInProvider' network.providerName}} />
    {{/each}}
  </div>
  <form {{action "signup" model on="submit"}}>
    <div class="form-group">
      <label for="username">Username</label>
      {{input id="username" type="text" name="username" placeholder="Username" value=model.username}}
      {{#if model.errors.username}}
        <div class="error">
        {{#each model.errors.username as |error|}}
            <span>{{error.message}}</span>
        {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      {{input id="email" type="text" name="email" placeholder="Email" value=model.email}}
      {{#if model.errors.email}}
        <div class="error">
        {{#each model.errors.email as |error|}}
            <span>{{error.message}}</span>
        {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input id="password" type="password" name="password" placeholder="Password" value=model.password}}
      {{#if model.errors.password}}
        <div class="error">
        {{#each model.errors.password as |error|}}
            <span>{{error.message}}</span>
        {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="password_confirmation">Password Confirmation</label>
      {{input id="password_confirmation" type="password" name="password_confirmation" placeholder="Password Confirmation" value=model.passwordConfirmation}}
      {{#if model.errors.passwordConfirmation}}
        <div class="error">
        {{#each model.errors.passwordConfirmation as |error|}}
            <span>{{error.message}}</span>
        {{/each}}
        </div>
      {{/if}}
    </div>

    <button class="submit button" type="submit">Continue</button>
  </form>
</div>
