{{partial "front-header"}}
<div id="signup">
  <h2>Create Account</h2>
  <div class="networks">
    {{#each network}}
      <button {{bind-attr class="network.image"}} {{action 'signInProvider' network.providerName}} />
    {{/each}}
  </div>
  <div class="form">
    {{input type="text" name="username" placeholder="Username" value=username}}
    {{#if errors.username}}
      <div class="error">
      {{#each errors.username}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    {{input type="password" name="password" placeholder="Password" value=password}}
    {{#if errors.password}}
      <div class="error">
      {{#each errors.password}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    {{input type="password" name="password_confirmation" placeholder="Password Confirmation" value=passwordConfirmation}}
    {{#if errors.passwordConfirmation}}
      <div class="error">
      {{#each errors.passwordConfirmation}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    {{input type="text" name="email" placeholder="Email" value=email}}
    {{#if errors.email}}
      <div class="error">
      {{#each errors.email}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    {{input type="text" name="first_name" placeholder="First Name" value=firstName}}
    {{#if errors.firstName}}
      <div class="error">
      {{#each errors.firstName}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    {{input type="text" name="last_name" placeholder="Last Name" value=lastName}}
    {{#if errors.lastName}}
      <div class="error">
      {{#each errors.lastName}}
          <span>{{message}}</span>
      {{/each}}
      </div>
    {{/if}}

    <button class="submit" {{action 'signup'}}>Continue</button>
    {{#if errors.messages}}
      <div class="error">
        <span>{{firstError}}</span>
      </div>
    {{/if}}
  </div>
</div>
